.d-flex-row
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.d-flex-col
{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
.newUiSiddet{
   
}
.derinlikH4{
    color: #1A2036 !important;
}

#depremNumber{
    background-color: #1A2036 !important;
}
#depremNumber > h5{color: white !important;}
#depremNumber > ul
{
    display: flex;
    flex-wrap: wrap;
}
#depremNumber > ul > li
{
   border: 1px solid white;
   border-radius: 5px; 
   margin: 5px 5px;
   padding: .8rem;
}
#depremNumber > ul > li:hover{
    background-color:#0d6efd ;
    color:#1A2036 ;
    border: 0px;
    cursor: grabbing;
}
.li-red{
    background-color:#ff0000 ;
}

.showDetay{
    display: none;
}
.showOn{
    display: block;
    position: absolute;
    top: 5%;
    width: 320px;
 
    padding: 1rem;
    background-color: #0d6efd;
    color: black;
    font-size: 24px;
}
.kapat{
    width: 100%;
    
}