@import "./navB.css";
html{
    font-size: 10px;
  
}
.sacla{
    position:absolute;
    top:1em;
    
}

.sacla > input { 
    width:1em;
    border-radius: 50%;
    background-color: red;    
}
.sacla:hover > input { 
    border-radius: 0%;
    background-color: white;    
    width:10em;}
.sacla:hover > .btn-getir { display: inline;}
.btn-getir{
    width:6em;
    height:2em;
    margin-top:1em;
    border-radius: 1em !important;
    display: none;

}
.container{
    padding: 20px;
height: 100%;
 font-size: 2rem;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
flex-wrap: wrap;
 background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);

}
ul{
    list-style-type: none;
}
.li_padding{
    padding: 2rem;
}
.items{
    width: 25rem;
    height: 25rem;
    background-color: white;
   margin: 2rem;
   padding: 2em;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.items:hover{
    color:red;
    transform:scale(1.1);
    border-color: rebeccapurple;
}
.brdr{
    border-radius: 1rem;
    border: 1px solid transparent;
}
h5 {
    text-align: center;
    margin: 0px;
    padding: 0px;
}
h3{
    text-align: center;
}
span{
    font-size: 10rem;
    text-align: center;
    
}
.span-red{
    color: red;
}

